@model IEnumerable<InventoryManagement.Areas.Admin.Data.InvoiceVM>

@{
    ViewData["Title"] = "Invoice List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/2.3.0/css/dataTables.dataTables.min.css" />

<div class="card card-primary">
    <div class="card-header bg-info text-white">
        <h3 class="card-title">Invoice List</h3>
    </div>
    <div class="card-body">
        <table id="invoiceTable" class="table table-bordered table-hover">
            <thead class="bg-light">
                <tr>
                    <th>Date</th>
                    <th>Subtotal</th>
                    <th>Discount</th>
                    <th>Grand Total</th>
                    <th>Pay</th>
                    <th>Due</th>
                    <th>Payment Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var invoice in Model)
                {
                    <tr>
                     
                        <td>@invoice.Date.ToString("yyyy-MM-dd")</td>
                        <td>@invoice.Subtotal?.ToString("0.00")</td>
                        <td>@invoice.Discount.ToString("0.00")</td>
                        <td>@invoice.GrandTotal?.ToString("0.00")</td>
                        <td>@invoice.Pay.ToString("0.00")</td>
                        <td>@invoice.Due.ToString("0.00")</td>
                        <td>@invoice.PaymentType</td>
                        <td>
                            <a href="@Url.Action("Details", "Invoice", new { id = invoice.InvoiceId })" class="btn btn-xs btn-primary me-1">View</a>
                            <a href="@Url.Action("Delete", "Invoice", new { id = invoice.InvoiceId })" class="btn btn-xs btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/2.3.0/js/dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            new DataTable('#invoiceTable');
        });
    </script>
}
